compatibility_date = "2024-03-04"
name = "api"
main = "index.mjs"
account_id = "424ad63426a1ae47d559873f929eb9fc"
workers_dev = true
kv_namespaces = [
    { binding = "DATA_CACHE", id = "2e6feba88a9e4097b6d2209191ed4ae5", preview_id = "17fd725f04984e408d4a70b37c817171" },
]
vars = { ENVIRONMENT = "production" }
routes = [
	{ pattern = "api.tarkov.dev/*", zone_name = "tarkov.dev" },
    { pattern = "streamer.tarkov.dev/*", zone_name = "tarkov.dev" }
]

[env.development]
kv_namespaces = [
    { binding = "DATA_CACHE", id = "17fd725f04984e408d4a70b37c817171", preview_id = "17fd725f04984e408d4a70b37c817171" },
]
vars = { ENVIRONMENT = "development", SKIP_CACHE = "false" }
routes = [
	{ pattern = "dev-api.tarkov.dev/*", zone_name = "tarkov.dev" },
    { pattern = "dev-streamer.tarkov.dev/*", zone_name = "tarkov.dev" }
]

# [secrets]
# CACHE_BASIC_AUTH
# TWITCH_CLIENT_ID
# TWITCH_TOKEN
# HTTP_GRAPHQL_SERVER
